<h2>Video Status: (ID: {@id})</h2>
<%= if msg = Phoenix.Flash.get(@flash, :info) do %>
  <div class="alert alert-info">
    {msg}
  </div>
<% end %>
<ul>
  <%= for quality <- ["360p", "480p", "720p"] do %>
    <li>
      {quality}:
      <%= if Map.has_key?(@ready, quality) do %>
        <video width="320" controls src={"/videos/#{Path.basename(Map.get(@ready, quality))}"}>
        </video>
      <% else %>
        Processing...
      <% end %>
    </li>
  <% end %>
</ul>
